body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
}

.t-row {
  display: flex;
}

.t-board {
  display: inline-block;
  position: relative;
  left: 40%;
  margin: 20px;
  padding: 20px;
  border: 4px inset grey;
}

.t-cell {
  display: inline-block;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  color: grey;
}

.t-cell-0 {
  background-color: rgb(41, 41, 41);
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
  border: 1px solid black;
}

.t-cell-1 {
  background-color: #00d;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
  border: 1px solid rgb(1, 1, 87);
}

.t-cell-2 {
  background-color: green;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
  border: 1px solid rgb(0, 48, 0);
}

.t-cell-3 {
  background-color: red;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
  border: 1px solid rgb(70, 0, 0);
}

.t-score-label {
  font-weight: bold;
}

.t-score-label {
  font-weight: bold;
}

.t-parent {
  display: flex;
}

element.style {
  width: 44px;
  left: 0px;
}

.how-to-play {
  text-align: center;
}
